@page "/"
<PageTitle>Index</PageTitle>


<AuthorizeView>
    <Authorized>
        <h1>Let's get a Job Together!</h1>

Welcome to your Remote Job Search App.

<SurveyPrompt Title="How is Blazor working for you?" />
    </Authorized>
    <NotAuthorized>
        <LoginRedirector />
    </NotAuthorized>
</AuthorizeView>


